
/* 
 ==================================================================================================
 +----------------------------------+ ABOUT PAGES +-----------------------------------------+
 ================================================================================================== 
 */
#sejarah .image-container{
  width:40%;
  min-height:350px;
}

#idea{
  gap:5%;
  text-align:center;
}
#idea .block{
  width:47.5%;
}

.idea-notes-container{
  height:100%;
  width:100%;
  font-size:1.3em;
  font-weight:600;
  padding:40px 80px;
  box-sizing:border-box;
  border-radius:10px;
  background-color:var(--main-white-template-color);
}

/* 
 ==============================================================================================
 +----------------------------------+ CONTACT PAGES +-----------------------------------------+
 ==============================================================================================
 */



/* 
 ============================================================================================
 +----------------------------------+ BLOGS PAGES +-----------------------------------------+
 ============================================================================================
 */
#blog-page-section .search-container{
  width:90%;
  max-width:700px;
  margin:0px auto;
  margin-bottom:30px;
}
.blog-pagination-container{
  display:flex;
  justify-content:space-between;
  margin-top:40px;
}
.post-card-thumbnail-container img{
  height:200px;
}
.post-card-thumbnail-container{
  border-bottom-left-radius:0px;
  border-bottom-right-radius: 0px;
}

/* 
 ============================================================================================
 +----------------------------------+ TESTIMONIALS PAGES +-----------------------------------------+
 ============================================================================================
 */
.testimonial-main-container .testimonial-message-container{
  padding-top:0px;
  padding-bottom:20px;
}
.testimonial-container{
  border:1px solid var(--secondary-gray-template-color);
  border-radius:10px;
  padding:20px;
  gap:15px;
  margin-bottom:30px;
}
.testimonial-video-container{
  border-radius:20px;
  overflow:hidden;
}
.testimonial-video-container iframe{
  border-radius:20px;
  aspect-ratio: 1/0.7;
}
.testimonial-profile-container, .testimonial-message-container{
  padding:20px;
  gap:20px;
}
.testimonial-profile-image-container{
  overflow:hidden;
  border-radius:100%;
  width:min-content;
}
.testimonial-profile-image-container img{
  height:50px;
  width:50px;
  background-color:var(--main-blue-template-color);
}
.testimonial-info-container:nth-child(3n+2) img{
  background-color:var(--secondary-purple-template-color);
}
.testimonial-info-container:nth-child(3n+3) img{
  background-color:var(--main-yellow-template-color);
}

.testimonial-profile-info-container{
  width:fit-content;
}
.testimonial-profile-info-container h2{
  font-size:1.2em;
  margin-bottom:5px;
  font-weight:500;
}
.testimonial-profile-info-container label{
  font-size:0.9em;
  font-weight:500;
}
.testimonial-message-container{
  font-weight:500;
}
.testimonial-message-container svg{
  font-size:1.2em;
  margin-bottom:10px;
}
.testimonials-container .testimonial-info-container{
  font-size:0.9em;
  border-radius:20px;
  border:1px solid var(--secondary-gray-template-color);
}
.testimonials-container .testimonial-info-container .testimonial-profile-info-container{
  font-size:0.9em;
  
}
.testimonials-container .testimonial-profile-image-container img{
  height:40px;
  width:40px;
}
.testimonials-container .testimonial-profile-container{
  border-top:1px solid var(--secondary-gray-template-color);
}

#testimonials-page-section .heading-1{
  margin-bottom:35px;
}

/* 
 ==============================================================================================
 +----------------------------------+ FACILITY PAGES +-----------------------------------------+
 ==============================================================================================
 */
#fasilitas-page-section .heading-1{
  margin:20px 0px;
}

#fasilitas-page-section-2 .card-container{
  text-align:center;
}

.facilities-icon-container{
  width:32%;
  margin:0px auto;
  margin-bottom:20px;
  aspect-ratio:1/1;
  border-radius:100%;
  background-color:var(--main-purple-template-color);
}
#fasilitas-page-section-2 .card-container:nth-child(4n+2) .facilities-icon-container{
  background-color:var(--secondary-purple-template-color);
}
#fasilitas-page-section-2 .card-container:nth-child(4n+3) .facilities-icon-container{
  background-color:var(--main-yellow-template-color);
}
#fasilitas-page-section-2 .card-container:nth-child(4n+4) .facilities-icon-container{
  background-color:var(--main-blue-template-color);
}
