/* 
 ==================================================================================================
 +----------------------------------+ LAPTOP RESPONSIVE +-----------------------------------------+
 ================================================================================================== 
 */
 @media only screen and (max-width: 1100px) {
	
	/* +--------------------------+ HERO 1 RESPONSIVE +--------------------------+ */
	.hero-1__content-wrapper .hero__image-container:nth-child(1){
		height:325px;
		width:325px;
	}
	.hero-1__content-wrapper .hero__image-container:nth-child(2){
		height:155px;
		width:155px;
	}
	.hero-1__content-wrapper .hero__image-container:nth-child(3){
		height:75px;
		width:75px;
	}
	
	/* +--------------------------+ HERO 2 REPSONSIVE +--------------------------+ */


	.faq__container{
		padding:0px 20px;
	}
}


@media only screen and (max-width: 1050px) {

	/* +--------------------------+ NAVIGATION +--------------------------+ */

	.map__container{
		width:unset;
		margin:20px;		
	}
	.map__iframe{
		width:100%;
	}

}

@media only screen and (max-width: 950px) {
	
	.hero-2__content-wrapper .post-card-thumbnail__container .post-card-thumbnail__title{
		font-size:24px
	}

}

@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 800px) {

	/* +--------------------------+ HERO RESPONSIVE +--------------------------+ */
	.hero-1__container .description-text{
		font-size:14px;
	}

	/* SECTION 3 STYLE */
	.program__container{
		gap:10px;
		flex-direction:column;
	}
	.program__container .program-image__container{
		height:200px;
		margin-bottom:20px;
	}
	

}

@media only screen and (max-width: 750px) {

	.hero-1__content-wrapper,
	.hero-2__content-wrapper{
		height:500px;
		margin:0px auto;
		width:90%;
	}
	.hero__header-container{
		padding:20px 0px;
		padding-bottom:50px;
	}


	/* SECTION 2 STYLE */
	.quote__wrapper{
		margin-top:30px;
		margin-bottom:100px;
	}
	.quote__wrapper::before{
		right:20px;
	}

	.faq-question__btn{
		font-size:26px;
	}

	/* FOOTER */
	.footer_wrapper{
		text-align:center;
	}
	.footer_wrapper > .block-even{
		gap:20px;
	}
	.footer_wrapper > .block-even > .block{
		gap:10px;
	}
	.footer__label{
		margin-bottom:0px;
	}
	.footer-list__wrapper{
		gap:10px;
	}
	.footer_wrapper .block{
		margin-top:20px;
	}

	.block:nth-child(2) .footer-list__wrapper .footer-list__container:before{
		content:'';
	}
	
}

@media only screen and (max-width:600px){

	.hero-1__container .header-text, .header-text{
		font-size:40px;
	}
	.hero-1__container .description-text{
		font-size:14px;
	}

}

@media only screen and (max-width:500px){

}


@media only screen and (max-width:450px){

	.section-5 .section-header__container .icon1{
		height:60px;
		width:60px;
		left:-80px;
	}
	.section-5 .section-header__container .icon2{
		height:30px;
		width:30px;
		top:-10px;
		left:-50px;
	}
	.section-5 .section-header__container .icon3{
		height:150px;
		width:150px;
		right:-150px;
	}

	.hero-1__container .header-text, 
	.header-text{
		font-size:30px;
	}
	.hero-1__container .description-text{
		font-size:12px;
	}
	.quote__container,
	.faq-question__btn{
		font-size:17px;
	}

	.program__title{
		font-size:22px;
	}
}

@media only screen and (max-width:400px){

	.program__container{
		padding:20px;
	}

	.hero__btn-container{
		gap:10px;
	}

	.section-5 .section-header__container .icon3{
		height:120px;
		width:120px;
		right:-150px;
	}

}