/* 
 ==================================================================================================
 +----------------------------------+ LAPTOP RESPONSIVE +-----------------------------------------+
 ================================================================================================== 
 */
@media only screen and (max-width: 1100px) {
	
}


@media only screen and (max-width: 1050px) {

	/* +--------------------------+ NAVIGATION +--------------------------+ */
	.navigation-option__btn{
		font-size:15px;
		padding:15px 5px;
	}

}

@media only screen and (max-width: 950px) {

	/* +--------------------------+ NAVIGATION +--------------------------+ */
	.navigation-option__container{
		gap:5px;
	}
	.navigation-option__btn{
		font-size:13px;
		padding:15px 5px;
	}

}

@media only screen and (max-width: 900px) {

	/* +--------------------------+ NAVIGATION +--------------------------+ */
	.navigation-option__btn{
		font-size:12px;
		padding:15px 2px;
	}

}

@media only screen and (max-width: 800px) {
	
	
	
	/* +--------------------------+ NAVIGATION +--------------------------+ */
	.navigation-option__container{
		display:none;
	}
	.navigation-option__btn{
		font-size:12px;
		padding:15px 2px;
	}
	.navigation-sidebar-btn__container{
		display:block;
		visibility: visible;
	}

	/* +--------------------------+ NAVIGATION +--------------------------+ */
	.header-text{
		font-size:44px;
	}
	.description-text{
		font-size:14px;
	}
	
	

}

@media only screen and (max-width: 750px) {

	.block{
		min-height:unset;
	}
	.block-even{
		gap:0px;
		flex-direction: column;
	}

	.block-reverse-responsive{
		flex-direction: column-reverse;
	}
	
}

@media only screen and (max-width:600px){


}

@media only screen and (max-width:500px){



}

@media only screen and (max-width:450px){
	.header-text{
		font-size:36px;
	}
	.description-text{
		font-size:12px;
	}

	.footer__label{
		font-size:22px;
	}

	.navigation-logo__img{
		height:65px;
	}
	.navigation-sidebar-btn__svg, .navigation-search-btn__svg{
		height:28px;
		width:28px;		
	}
	.navigation-search-icon__container{
		padding:0px;
	}
}

@media only screen and (max-width:400px){

	.block-even{
		padding:0px 20px;
	}

	.btn{
		font-size:15px;
	}

	.sidebar__wrapper{
		padding:20px 40px;
		width:70%;
		left:calc(-70% + -120px);
	}
	.sidebar-close-btn__container{
		right:-95px;
	}
}